<h1>System Management</h1>
<nav>
    <a href="/admin/branches" id="btnBranches">Branch Management</a>
    <a href="/admin/employees" id="btnEmployees">Employee Management</a>
    <a href="/admin/reports" id="btnReports">Reports & Analytics</a>
    <a href="/admin/customers" id="customerManagementLink">Customer Management</a>
    <a href="/admin/report-invoices" id="reportInvoices">Report invoices</a>
    <a href="/admin/items" id="itemManagement"> Item Management</a>
<!--    <a href="#" id="customerManagementLink">Customer Management</a>-->
<!--    <a href="#" id="reportInvoices">Report invoices</a>-->
<!--    <a href="#" id="itemManagement"> Item Management</a>-->
</nav>