<div class="container">

    <address class="topbar-item">
        <div class="icon">
            <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">
         227 Nguyen Van Cu Street, Ward 4, District 5, Ho Chi Minh City
        </span>
    </address>

    <div class="separator"></div>

    <div class="topbar-item item-2">
        <div class="icon">
            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">Daily : 8.00 am to 10.00 pm</span>
    </div>

    <a href="tel:+84392881328" class="topbar-item link">
        <div class="icon">
            <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">+84 392 881328</span>
    </a>

    <div class="separator"></div>

    <a href="mailto:22120230@student.hcmus.edu.vn" class="topbar-item link">
        <div class="icon">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">22120230@student.hcmus.edu.vn</span>
    </a>

</div>