<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../public/admin/css/main.css" rel="stylesheet" />
    <title>Order</title>
    <meta charset="UTF-8">

</head>
<body>
<div class="header">
    <img class="logo" src="../public/admin/images/logo.svg" alt="logo">
    <a class="button" href="#">Login/Signup</a>
</div>

<!-- Banner with overlay and small banner -->
<div class="banner">
    <img src="../public/admin/images/banner.png" alt="banner">
</div>

<!-- Search Section -->
<div class="search">
    <a class="button" href="#">
        <img src="../public/admin/images/Search More.png" alt="Search Icon" class="button-icon">
        Search from menu
    </a>
</div>

<!-- Categories Section -->
<div class="categories">
    <a class="categories-button" href="#">Traditional Sushi</a>
    <a class="categories-button" href="#">Specialty Sushi</a>
    <a class="categories-button" href="#">Salads and Appetizers</a>
    <a class="categories-button" href="#">Grilled and Fried Dishes</a>
    <a class="categories-button" href="#">Rice & Noodles</a>
    <a class="categories-button" href="#">Sides and Extras</a>
    <a class="categories-button" href="#">Beverages</a>
</div>

<!-- Subject Section -->
<div class="subject">
    Explore Our Menu
</div>

<!-- Section thứ 1 -->

<div class="box-container">
    <div class="box">
        <div class="food-name">Ebi</div> <!-- Food Name -->
        <div class="food-description">Tôm tươi hấp, chấm kèm với nước tương</div> <!-- Food Description -->
        <img src="../public/admin/images/Ebi.jpg" alt="Food" class="Food">
        <div class="food-price">$8.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Maguro</div> <!-- Food Name -->
        <div class="food-description">Cá ngừ tươi sống, ăn kèm với wasabi</div> <!-- Food Description -->
        <img src="../public/admin/images/Maguro.jpg" alt="Food" class="Food">
        <div class="food-price">$13.00</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Saba</div> <!-- Food Name -->
        <div class="food-description">Cá thu nướng muối, ăn kèm chanh tươi</div> <!-- Food Description -->
        <img src="../public/admin/images/Saba.jpg" alt="Food" class="Food">
        <div class="food-price">$10.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Sashimi Cá Hồi</div> <!-- Food Name -->
        <div class="food-description">Cá hồi sashimi tươi ngon, chấm với nước tương</div> <!-- Food Description -->
        <img src="../public/admin/images/Sashimi Cá Hồi.jpg" alt="Food" class="Food">
        <div class="food-price">$16.00</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Takoyaki</div> <!-- Food Name -->
        <div class="food-description">Bánh bạch tuộc chiên giòn, phủ nước sốt takoyaki</div> <!-- Food Description -->
        <img src="../public/admin/images/Takoyaki.jpg" alt="Food" class="Food">
        <div class="food-price">$7.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Tamago</div> <!-- Food Name -->
        <div class="food-description">Trứng ngọt Nhật Bản, cắt lát mỏng</div> <!-- Food Description -->
        <img src="../public/admin/images/Tamago.jpg" alt="Food" class="Food">
        <div class="food-price">$5.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
</div>

<!-- Section thứ 2 -->
<div class="box-container">
    <div class="box">
        <div class="food-name">Cá Hồi Nướng Teriyaki</div> <!-- Food Name -->
        <div class="food-description">Cá hồi nướng với sốt Teriyaki thơm ngon</div> <!-- Food Description -->
        <img src="../public/admin/images/Cá Hồi Nướng Teriyaki.jpg" alt="Food" class="Food">
        <div class="food-price">$14.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Gà Karaage</div> <!-- Food Name -->
        <div class="food-description">Gà chiên kiểu Nhật giòn tan hấp dẫn</div> <!-- Food Description -->
        <img src="../public/admin/images/Gà Karaage.jpg" alt="Food" class="Food">
        <div class="food-price">$9.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Gà Xiên Nướng Yakitori</div> <!-- Food Name -->
        <div class="food-description">Gà xiên nướng với sốt đặc biệt</div> <!-- Food Description -->
        <img src="../public/admin/images/Gà Xiên Nướng Yakitori.jpg" alt="Food" class="Food">
        <div class="food-price">$12.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Mực Nướng Muối</div> <!-- Food Name -->
        <div class="food-description">Mực nướng muối, chấm chanh tươi mát</div> <!-- Food Description -->
        <img src="../public/admin/images/Mực Nướng Muối.jpg" alt="Food" class="Food">
        <div class="food-price">$13.00</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Saba Shioyaki</div> <!-- Food Name -->
        <div class="food-description">Cá thu nướng muối, kèm chanh tươi</div> <!-- Food Description -->
        <img src="../public/admin/images/Saba Shioyaki.jpg" alt="Food" class="Food">
        <div class="food-price">$11.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Tôm Chiên Tempura</div> <!-- Food Name -->
        <div class="food-description">Tôm chiên giòn với lớp vỏ tempura nhẹ nhàng</div> <!-- Food Description -->
        <img src="../public/admin/images/Tôm Chiên Tempura.jpg" alt="Food" class="Food">
        <div class="food-price">$12.00</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
</div>


</div>
<!-- Section thứ 3 -->
<div class="box-container">
    <div class="box">
        <div class="food-name">Cơm Chiên Hải Sản</div> <!-- Food Name -->
        <div class="food-description">Cơm chiên với hải sản tươi ngon và rau củ</div> <!-- Food Description -->
        <img src="../public/admin/images/Cơm Chiên Hải Sản.jpg" alt="Food" class="Food">
        <div class="food-price">$10.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Mì Ramen Tonkotsu</div> <!-- Food Name -->
        <div class="food-description">Mì ramen nước hầm xương heo đậm đà</div> <!-- Food Description -->
        <img src="../public/admin/images/Mì Ramen Tonkotsu.jpg" alt="Food" class="Food">
        <div class="food-price">$12.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Mì Soba Lạnh</div> <!-- Food Name -->
        <div class="food-description">Mì soba lạnh, ăn kèm nước tương nhẹ</div> <!-- Food Description -->
        <img src="../public/admin/images/Mì Soba Lạnh.jpg" alt="Food" class="Food">
        <div class="food-price">$9.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Mì Udon Hải Sản</div> <!-- Food Name -->
        <div class="food-description">Mì udon nấu với hải sản và rau củ</div> <!-- Food Description -->
        <img src="../public/admin/images/Mì Udon Hải Sản.jpg" alt="Food" class="Food">
        <div class="food-price">$11.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Spicy Tuna Don</div> <!-- Food Name -->
        <div class="food-description">Cơm với cá ngừ cay và sốt đặc biệt</div> <!-- Food Description -->
        <img src="../public/admin/images/Spicy Tuna Don.jpg" alt="Food" class="Food">
        <div class="food-price">$13.50</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
    <div class="box">
        <div class="food-name">Unagi Don</div> <!-- Food Name -->
        <div class="food-description">Cơm với lươn nướng sốt đậm đà</div> <!-- Food Description -->
        <img src="../public/admin/images/Unagi Don.jpg" alt="Food" class="Food">
        <div class="food-price">$15.99</div> <!-- Food Price -->
        <div class="shape">
            <img src="../public/admin/images/Plus.png" alt="Plus Icon" class="plus-icon">
        </div>
    </div>
</div>





</body>
</html>