<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketZen - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../../public/user/css/login_register.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet" />
</head>
<body>
<div class="register-container">
    <a href="#" class="logo" aria-label="TicketZen Home">
        <img src="../../public/user/images/logo.svg" width="160" height="50" alt="TicketZen - Home">
    </a>
    <form action="/login" method="post" id="registerForm">
        <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="user_name" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit" class="btn btn-divider rounded-pill">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup" class="text-accent">Register here</a></p>

</div>

<script src="../../public/user/js/login.js" >

</script>

</body>
</html>
